.popup {
    position: absolute;
    display: flex;
    align-items: center;
    gap: .5rem;

    padding: .1rem .2rem;

    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    border-radius: 5px;
}

.popup.centered {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
}

.popup-msg {
    color: var(--dark-color);
    font-size: clamp(.8rem, .6rem + 2vw, 1.1rem);
}

.popup-btn {
    width: 30px;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
}

.popup-btn img {
    width: 100%;
    filter: var(--dark-color-filter);
}

.popup.fadeout {
    animation-name: fadeout;
    animation-duration: .4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}



@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}